.game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0;

    > * {
        box-sizing: border-box;
    }

    > canvas {
        position: relative;
        left: 0;
        top: 0;
        width: 100vh;
        height: 100vh;
    }

    > div {
        font-size: 16px;
        padding: 2em 1em;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 1em;
        background-color: #988;
        background-image: url(./background.webp);
        background-size: cover;

        > header {
            font-size: 3vh;
            width: 100%;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;

            > *:nth-child(2n) {
                font-size: 200%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: .5em;
            }

            .life {
                content: "";
                width: 4em;
                height: 1em;
                background-image: url(@/gfx/05/life.webp);
                background-size: contain;
                background-repeat: no-repeat;
                transition: all 1s;

                &.dead {
                    opacity: .5;
                    filter: grayscale(100%);
                    transform: scale(.9);
                }
            }
        }

        > footer {
            font-size: 8vh;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            > button {
                position: relative;
                font: inherit;
                font-size: 200%;
                border: .125em solid #000;
                width: 1.5em;
                height: 1.5em;
                color: #f90;
                background: linear-gradient(to top,#333, #000,#000);
                border-radius: 99vmax;
                overflow: hidden;

                &::after, &:hover {
                    cursor: pointer;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 120%;
                    height: 60%;
                    border-radius: 0 0 50% 50%;
                    background-color: #fff3;
                }
            }
        }
    }
}
