.game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    > div {
        position: absolute;
        top: 0;
        width: calc(50vw - 50vh);
        height: 100%;
        padding: 1em;
        background-color: #7777;

        &.left {
            left: 0;
            right: auto;
        }

        &.right {
            left: auto;
            right: 0;
        }
    }
}
