.game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > * {
        box-sizing: border-box;
    }

    > canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vh;
        height: 100vh;
    }

    > div {
        position: absolute;
        right: 0;
        width: calc(100vw - 100vh);
        height: 100vh;
        padding: 1em;
        background-color: #7777;
    }
}
