div.game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: auto;

    > * {
        box-sizing: border-box;
    }

    div.grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4vmin;
        padding: 4vmin;

        .preview {
            cursor: pointer;
            width: 40vmin;
            height: 40vmin;
            border: 1px solid #fff;

            &:hover {
                box-shadow: 0 1vmin 2vmin #f907;
            }
        }
    }
}
