.button {
    position: relative;
    color: #000e;
    font: inherit;
    font-variant: small-caps;
    background: linear-gradient(to top, #fc0, #f90 20%, #f90 40%, #530);
    height: 2em;
    padding: 0 .5em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 0.125em solid #000;
    box-shadow: 0 0.25em 0.5em #000;
    cursor: pointer;
    font-weight: bold;
}

.button::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #fff4;
    pointer-events: none;
    border-radius: 0 0 50% 50%;
    transform: translateY(-40%);
}

button.button:focus,
button.button:focus-visible,
button.button:focus-within {
    outline: none;
    text-decoration: underline dotted 0.06125em #0008;
    text-underline-offset: 0.25em;
}
