.viewText {
    display: grid;
    place-items: center;
}

.viewText > div {
    text-align: left;
    white-space: pre-wrap;
}

.viewText > div > span {
    display: inline-block;
    transition: all 1s;
    opacity: 0;
    transform: translateY(100%) scale(0);
}

.viewText > div > span.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}
