.game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

    > * {
        box-sizing: border-box;
    }

    > canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vh;
        height: 100vh;
    }

    > div {
        font-size: 16px;
        position: absolute;
        right: 0;
        width: calc(100vw - 100vh);
        height: 100vh;
        padding: 1em;
        background-color: #777;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 1em;
        background-image: linear-gradient(to left, #000, #222, #222, #000);

        > header {
            font-size: 3vh;
            width: 100%;
            padding: 0;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;

            > *:nth-child(2n) {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 0;
            }

            .life {
                content: "";
                width: 4em;
                height: 1em;
                background-image: url(@/gfx/05/life.webp);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        > footer {
            font-size: 8vh;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            align-items: center;

            > button {
                font: inherit;
                border-radius: 99vmax;
            }
        }
    }
}
