.viewBook {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 1em;
    gap: 1em;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.viewBook > footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.viewBook > footer > button {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fe9;
    color: #000a;
    width: 2em;
    height: 2em;
    display: grid;
    place-items: center;
    place-self: end;
    transition: all 0.5s;
    transform: scale(1);
}

.viewBook > footer > button[disabled] {
    transform: scale(0);
}

.viewBook > footer > button > * {
    width: 1.5em;
    height: 1.5em;
}