.languageselector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  align-items: center;
}

.languageselector > button {
    position: relative;
  border: inherit;
  font: inherit;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.languageselector > button::after {
    content: "";
    transition: all 0.2s;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -.5em;
    width: 100%;
    height: .2em;
    border-radius: 99vmax;
    background-color: #fff;
    box-shadow: 0 0 .2em #000;
 }

  .languageselector > button.current::after {
    opacity: 1;
  }
    
.languageselector > button > img {
  width: 2em;
  height: 2em;
  margin: 0;
}
