.main {
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    color: #fe9;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 5vmin;

    > button {
        font: inherit;
        border: none;
        position: absolute;
        bottom: 0;
        width: 2em;
        height: 2em;
        box-shadow: none;
        display: grid;
        place-items: center;
        color: #fe9;
        border: 0.25em solid #fe9;
        border-bottom: none;
        background: #12203a;
        transition: all 0.5s;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;

        &.left {
            left: 0;
            border-radius: 0 50% 0 0;
            border-left: none;
            transform: translateX(-100%);
        }

        &.right {
            right: 0;
            border-radius: 50% 0 0 0;
            border-right: none;
            transform: translateX(100%);
        }

        &.show {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0);
        }
    }

    > div {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto auto 1fr;
        padding: 1em;

        > h1 {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            font-size: 150%;
            flex: 0 0 auto;

            small {
                opacity: 0.5;
                font-style: italic;
            }
        }

        > p {
            flex: 1 1 auto;
        }

        > footer {
            flex: 0 0 auto;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 3em;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            > button {
                all: unset;
                position: relative;
                cursor: pointer;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                scroll-snap-align: start;
            }
        }
    }
}

.main > div > footer > button > svg {
    width: 6em;
    height: 6em;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.25em solid currentColor;
    color: currentColor;
    transition: all 0.3s;
}

.main > div > footer > button:hover > svg,
.main > div > footer > button:active > svg {
    background-color: #0005;
    transform: scale(0.95);
}

.languageSelector {
    font-size: 50%;
}

.main > div > footer > button[disabled] {
    pointer-events: none;
    transform: scale(0.9);
    filter: brightness(50%);
}

.main > div > footer > button[disabled]::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4% -75%;
    width: 150%;
    height: 8%;
    content: "";
    background-color: #f30;
    transform-origin: center;
    transform: rotate(-45deg);
}

.scroll {
    position: absolute;
    left: 1em;
    top: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    overflow: auto;
    margin: 0;
    padding: 0;
}
