.main {
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    color: #fe9;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 5vmin;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
}

.main > h1 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 150%;
    flex: 0 0 auto;
}

main > p {
    flex: 1 1 auto;
}

.main > footer > button > svg {
    width: 6em;
    height: 6em;
    padding: .5em;
    border-radius: 1em;
    border: .25em solid currentColor;
    color: currentColor;
    transition: all .3s;
}

.main > footer > button:hover > svg,
.main > footer > button:active > svg {
    background-color: #0005;
    transform: scale(.95);
}

.main > footer > button {
    all: unset;
    position: relative;
    cursor: pointer;    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.main > footer {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    overflow-x: auto;
}

.languageSelector {
    font-size: 50%
}

.main > footer > button[disabled] {
    pointer-events: none;
    transform: scale(.9);
    filter: brightness(50%);
}

.main > footer > button[disabled]::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4% -75%;
    width: 150%;
    height: 8%;
    content: "";
    background-color: #f30;
    transform-origin: center;
    transform: rotate(-45deg);
}