div.game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    overflow: auto;

    > * {
        box-sizing: border-box;
    }

    div.grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4vmin;
        padding: 4vmin;

        > div {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 0;

            .preview {
                cursor: pointer;
                width: 30vmin;
                height: 30vmin;
                border: 1px solid #fff;

                &:hover {
                    box-shadow: 0 1vmin 2vmin #f907;
                }
            }

            > div {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 0;

                button {
                    font: inherit;
                    font-size: 4vmin;
                    font-weight: bold;
                    width: 6vmin;
                    height: 6vmin;
                    border: none;
                    background-color: #fa0;
                    color: #000;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }

    details {
        font-size: 16px;
        margin: 1em;
        background-color: #333;
        border-radius: 0.5em;
        padding: 2em;

        > summary {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;
        }
    }
}
