.selectTo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;

    > button {
        content: "";
        border: none;
        display: block;
        cursor: pointer;

        width: 21vw;
        height: 21vh;
        border-radius: 7vh;
        box-shadow: 0 5vh 10vh #000;
        background-size: cover;
        background-position: center;
        transition: opacity 0.3s;
    }
}
