.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: stretch;

    > .preview {
        position: relative;
        width: 100vh;
        height: 100vh;
        background-color: #000;

        > * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    > nav {
        background: linear-gradient(to left, #333, #000, #333);
        font-size: 3vmin;
        padding: 1em;

        > h1 {
            font-size: 1.5em;
            margin: 0 0 0.5em 0;
            text-align: center;
        }
    }
}
