.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: stretch;

    > .preview {
        position: relative;
        width: 100vh;
        height: 100vh;
        background-color: #000;

        > * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}
