.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: stretch;

    > .preview {
        position: relative;
        width: 100vh;
        height: 100vh;
        background-color: #000;

        > * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    > nav {
        background: linear-gradient(to left, #333, #000, #000, #333);
        font-size: 3vmin;
        padding: 0.5em;
        overflow: auto;

        > header {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;

            h1 {
                font-size: 1.5em;
                margin: 0 0 0.5em 0;
                text-align: center;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
            }
        }

        div.backgrounds {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            button.backgroundButton {
                font: inherit;
                content: "";
                aspect-ratio: 1/1;
                width: 4em;
                border-radius: 1em;
                cursor: pointer;
                margin: 0.25em 1em;
                background-size: cover;
                border: 2px solid #000;

                &.active {
                    box-shadow: 0 4px 8px #f90;
                }
            }
        }
    }

    fieldset {
        border-radius: 1em;
        border-color: currentColor;
        margin: 0.5em 0;

        > legend {
            font-size: 80%;
            padding: 0.25em 1em;
            background: linear-gradient(to right, #000, #333);
            border-radius: 99vmax;
        }
    }
}
